<html>
  <head>
    <title>MX Abierto - Validadora de catálogos de datos abiertos</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.11/vue.min.js" type="text/javascript"></script>

    {% block assets %}
    {% endblock assets%}
  </body>
</html>